body{
	background-color: black;
}

/*Home*/

.total-home{
	margin-left: 100px;
}
.icon-home{
	display: inline-block;
	color: white;
}
.home{
	display: inline-block;
}
.home a{
	text-decoration: none;
	color: white;
	font-size: 50px;
}

/*Hypocrisy IS THE WORLD*/

.htw ul{
	list-style: none;
	margin-top: 59px;
	padding: 0;
	padding-left: 100px;
}
.htw ul li{
	display: inline-block;
}
.htw ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 50px;
	color: white;
}
.htw ul li a:hover{
	background-color: grey;
}

/*How far would you go to be right*/

.hfw ul{
	list-style: none;
	margin-top: 200;
	padding-top: 100px;
	padding-left: 100px;
}
.hfw ul li{
	display: inline-block;
}
.hfw ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 50px;
	color: white;
}
.hfw ul li a:hover{
	background-color: grey;
}

/*My toxic relationship with God*/

.mtr ul{
	list-style: none;
	margin-top: 200;

	padding-top: 100px;
	padding-left: 100px;
}
.mtr ul li{
	display: inline-block;
}
.mtr ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 50px;
	color: white;
}
.mtr ul li a:hover{
	background-color: grey;
}

/*Feminist 2*/

.f2 ul{
	list-style: none;
	margin-top: 200;
	padding-top: 100px;
	padding-left: 100px;
}
.f2 ul li{
	display: inline-block;
}
.f2 ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 75px;
	color: white;
}
.f2 ul li a:hover{
	background-color: grey;
}

/*Black Humour*/

.bh ul{
	list-style: none;
	margin-top: 200;
	padding-top: 100px;
	padding-left: 100px;
}
.bh ul li{
	display: inline-block;
}
.bh ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 75px;
	color: white;
}
.bh ul li a:hover{
	background-color: grey;
}