body{
	background-color: black;
}

/*MENU*/

menu{
	margin-left: 75px;
}
.menu ul{
	list-style: none;
	margin-top: 60px;
	padding: 0;
	padding-left: 200px;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 50px;
	color: white;
}
.menu ul li a:hover{
	background-color: grey;
}
.menu ul li a i{
	color: white;
}

/*LOGO*/

.logo{
	padding-top: 100px;
	padding-left: 550px;
}
.logo img{
	width: 500px;
}
.icon-letter{
	color: white;
	display: inline-block;
}
.contact-me{
	display: inline-block;
}
.contact-me a{
	text-decoration: none;
	color: white;
	font-size: 50px;
}
.total-contact{
	padding-bottom: 0px;
	margin-left: 50px;
}
