body{
    background-color: #000;
    color: #fff;
	font-size: 30px;
    font-family: 'Fredoka One', cursive;
	text-align: center;
}

/* volver */
i{
    color: rgb(170, 170, 170);
}
.volver{
    font-size: 30px;
    width: 120px;
	margin-bottom: 50px;
}
.volver:hover{
    text-decoration: underline;
}
.volver a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}

/*proyectos*/
.pyt{
	text-align: center;
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 50px;
    background-color: rgb(170, 170, 170);
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}
.pyt:hover{
	padding: 50px;
	border: 5px #fff solid;
	text-decoration: underline;
	transition: .1s;
}

/*footer*/
footer{
	margin-top: 50px;
}