body{
	background-color: black;
}
h1{
	text-align: center;
	padding-bottom: 20px;
	color: white;
}
p{
	width: 25%;
	text-align: center;
	padding-left: 37%;
	color: white;
}
.p2{
	padding-top: 20px; 
}
img{
	padding-left: 40%;
	width: 300px;
}
.menu ul{
	list-style: none;
	margin-top: 200;
	padding: 0;
	padding-left: 375px;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	background-color: #131212;
	padding: 50px;
	font-size: 50px;
	color: white;
}
.menu ul li a:hover{
	background-color: grey;
}
.txt{
	padding-top: 50px;
}